<div>
  <h1>Chat</h1>
  <form onsubmit='return addMessage(this)'>
    <input type="email" id="email" placeholder="Email" required />
    <input type="text" id="messageChat" placeholder="Message" required />
    <button type="submit" class="btn btn-dark">Send</button>
  </form>
</div>

